Repository vladpi/scrooge: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, poetry

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies: [poetry, toml]
        types: [python]

  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        description: wemake-python-styleguide enforcement
        entry: flake8
        language: python
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        args: ["--sqlite-cache"]
        additional_dependencies: [pydantic>=1.10, sqlalchemy>=1.4, sqlalchemy-stubs>=0.4, types-dateparser>=1.1.4]

  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: ^pyproject\.toml$

default_language_version:
  python: python3.10

fix: AddTransactionStates name
  app/infra/bot/handlers/transactions.py
  app/infra/bot/states.py
Due: flake8

feat: bot commands setup
  app/infra/bot/bot.py
Due: flake8

feat: zenmoney csv dump parser
  .flake8
  app/adapters/__init__.py
  app/adapters/zenmoney/__init__.py
  app/adapters/zenmoney/parser.py
  app/adapters/zenmoney/schemas.py
  app/domains/__init__.py
  app/domains/accounts/__init__.py
  app/domains/accounts/internals.py
  app/domains/accounts/schemas.py
  app/domains/categories/__init__.py
  app/domains/categories/internals.py
  app/domains/categories/schemas.py
  app/domains/transactions/__init__.py
  app/domains/transactions/internals.py
  app/models/transactions.py
  scripts/__init__.py
  scripts/export_from_zm_dump.py
Due: flake8

feat: move domain internals to services
  app/domains/__init__.py
  app/domains/accounts/__init__.py
  app/domains/accounts/internals.py
  app/domains/accounts/service.py
  app/domains/categories/__init__.py
  app/domains/categories/internals.py
  app/domains/categories/service.py
  app/domains/transactions/__init__.py
  app/domains/transactions/internals.py
  app/domains/transactions/service.py
  app/domains/users/__init__.py
  app/domains/users/internals.py
  app/domains/users/service.py
  app/domains/workspaces/__init__.py
  app/domains/workspaces/internals.py
  app/domains/workspaces/service.py
  app/infra/bot/context.py
  app/infra/bot/handlers/transactions.py
  app/infra/bot/middlewares.py
  scripts/export_from_zm_dump.py
Due: flake8

chore: disable WPS306 globally
  .flake8
  app/domains/accounts/service.py
  app/domains/categories/service.py
  app/domains/transactions/service.py
  app/domains/users/service.py
  app/domains/workspaces/service.py
  libs/context.py
Due: flake8

refactor: update aiogram to v3 and punq as DI
  .pre-commit-config.yaml
  app/container.py
  app/infra/bot/bot.py
  app/infra/bot/context.py
  app/infra/bot/deps.py
  app/infra/bot/events.py
  app/infra/bot/handlers/main.py
  app/infra/bot/handlers/transactions.py
  app/infra/bot/main.py
  app/infra/bot/middlewares.py
  app/infra/bot/routes.py
  app/infra/bot/states.py
  app/repositories/__init__.py
  app/repositories/container.py
  app/repositories/sql.py
  app/settings/app.py
  app/utils/parsing.py
  cmd/run_bot.py
  poetry.lock
  pyproject.toml
Due: flake8, poetry

refactor: change di from punq to neoteroi.di
  app/container.py
  app/infra/bot/bot.py
  app/infra/bot/deps.py
  app/infra/bot/handlers/main.py
  app/infra/bot/handlers/transactions.py
  app/infra/bot/main.py
  app/infra/bot/middlewares.py
  app/infra/bot/routes.py
  app/repositories/accounts.py
  app/repositories/categories.py
  app/repositories/sql.py
  app/repositories/transactions.py
  app/repositories/users.py
  app/repositories/workspaces.py
  poetry.lock
  pyproject.toml
Due: flake8, poetry

refactor: update type hints to 3.10 style
  app/domains/transactions/schemas.py
  app/domains/users/schemas.py
  app/infra/bot/handlers/transactions.py
  app/infra/bot/middlewares.py
  app/infra/bot/routes.py
  app/models/base.py
  app/models/users.py
  app/repositories/base.py
  app/repositories/categories.py
  app/repositories/exceptions.py
  app/repositories/sql.py
  app/settings/app.py
  app/settings/base.py
  app/utils/parsing.py
Due: flake8

fix: exclude nones from insert sql query
  app/repositories/sql.py
Due: flake8

feat: base web app
  app/infra/web/__init__.py
  app/infra/web/deps.py
  app/infra/web/events.py
  app/infra/web/main.py
  app/infra/web/routes.py
  app/infra/web/schemas.py
  app/infra/web/security.py
  app/templates/web/base.html
  app/templates/web/footer.html
  app/templates/web/header.html
  app/templates/web/index.html
  app/templates/web/login.html
  app/templates/web/macro/forms.html
  cmd/run_web.py
Due: flake8

fix: users model fields and templates
  app/db/users.py
  app/domains/users/schemas.py
  app/domains/users/service.py
  app/infra/web/routes.py
  app/models/users.py
  app/repositories/sql.py
  app/templates/web/footer.html
  app/templates/web/header.html
  app/templates/web/index.html
  migrations/versions/2022-12-30_e350e0c27238_add_users_first_name_last_name_avatar_.py
Due: flake8

feat: transactions section on main page
  app/templates/web/index.html
Due: none

chore: fix rodi dependency
  poetry.lock
  pyproject.toml
Due: poetry

fix: import to rodi
  app/container.py
  app/infra/bot/bot.py
  app/infra/bot/deps.py
  app/infra/bot/handlers/main.py
  app/infra/bot/handlers/transactions.py
  app/infra/bot/main.py
  app/infra/bot/middlewares.py
  app/infra/bot/routes.py
  app/infra/web/deps.py
  app/infra/web/main.py
  app/infra/web/routes.py
Due: flake8

refactor: update sqlalchemy to 2.0 version
  poetry.lock
  pyproject.toml
Due: poetry

refactor: update db models to 2.0 sqlalchemy
  .pre-commit-config.yaml
  app/db/accounts.py
  app/db/base.py
  app/db/categories.py
  app/db/columns.py
  app/db/transactions.py
  app/db/users.py
  app/db/workspaces.py
Due: flake8

refactor: update repos to sqlalchemy 2.0
  app/container.py
  app/db/base.py
  app/infra/web/events.py
  app/repositories/accounts.py
  app/repositories/base.py
  app/repositories/categories.py
  app/repositories/sql.py
  app/repositories/transactions.py
  app/repositories/users.py
  app/repositories/workspaces.py
  poetry.lock
  pyproject.toml
Due: flake8, poetry

fix(auth): add redirects for auth
  app/infra/web/deps.py
  app/infra/web/error_handlers.py
  app/infra/web/main.py
  app/infra/web/routes.py
  app/infra/web/security.py
Due: flake8

fix(db): explicit begin transaction
  app/repositories/accounts.py
  app/repositories/sql.py
  scripts/export_from_zm_dump.py
Due: flake8

fix: typo
  app/repositories/sql.py
Due: flake8

chore: remove bootstrap files
  app/static/blacksheep-favicon-white.png
  app/static/images/blacksheep-favicon-white.png
  app/static/images/blacksheep.png
  app/static/img/portfolio/cabin.png
  app/static/img/portfolio/cake.png
  app/static/img/portfolio/circus.png
  app/static/img/portfolio/game.png
  app/static/img/portfolio/safe.png
  app/static/img/portfolio/submarine.png
  app/static/scripts/freelancer.js
  app/static/styles/public.css
  app/static/vendor/bootstrap/js/bootstrap.bundle.min.js
  app/static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
  app/static/vendor/fontawesome-free/css/all.min.css
  app/static/vendor/fontawesome-free/webfonts/fa-brands-400.eot
  app/static/vendor/fontawesome-free/webfonts/fa-brands-400.svg
  app/static/vendor/fontawesome-free/webfonts/fa-brands-400.ttf
  app/static/vendor/fontawesome-free/webfonts/fa-brands-400.woff
  app/static/vendor/fontawesome-free/webfonts/fa-brands-400.woff2
  app/static/vendor/fontawesome-free/webfonts/fa-regular-400.eot
  app/static/vendor/fontawesome-free/webfonts/fa-regular-400.svg
  app/static/vendor/fontawesome-free/webfonts/fa-regular-400.ttf
  app/static/vendor/fontawesome-free/webfonts/fa-regular-400.woff
  app/static/vendor/fontawesome-free/webfonts/fa-regular-400.woff2
  app/static/vendor/fontawesome-free/webfonts/fa-solid-900.eot
  app/static/vendor/fontawesome-free/webfonts/fa-solid-900.svg
  app/static/vendor/fontawesome-free/webfonts/fa-solid-900.ttf
  app/static/vendor/fontawesome-free/webfonts/fa-solid-900.woff
  app/static/vendor/fontawesome-free/webfonts/fa-solid-900.woff2
  app/static/vendor/jquery-easing/jquery.easing.js
  app/static/vendor/jquery/jquery.min.js
Due: none

feat: add login route and base template
  app/controllers/login.py
  app/views/layout.jinja
  app/views/login/index.jinja
  app/views/partial/footer.jinja
  app/views/partial/header.jinja
Due: flake8

feat: minor fix login page
  app/controllers/login.py
  app/views/login/index.jinja
Due: flake8

feat: add register route and base template
  app/controllers/register.py
  app/views/register/index.jinja
Due: flake8

feat: add example auth
  app/auth.py
  poetry.lock
  pyproject.toml
Due: flake8, poetry

feat: add db models and migrations
  alembic.ini
  data/__init__.py
  data/sql/__init__.py
  data/sql/columns.py
  data/sql/db_models.py
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/2023-11-06_021b4b436a7b_init.py
  pyproject.toml
Due: flake8, poetry

fix: remove tg users table
  data/sql/db_models.py
  migrations/versions/2023-11-06_021b4b436a7b_init.py
Due: flake8

feat: add home page template
  app/views/home/index.jinja
Due: none

fix: users table
  data/sql/db_models.py
  migrations/versions/2023-11-06_021b4b436a7b_init.py
Due: flake8

chore: rename db models module
  data/sql/models.py
  migrations/env.py
Due: flake8

feat: add base user domain with services
  data/sql/services.py
  data/sql/users.py
  domain/passwords.py
  domain/services.py
  domain/users.py
  poetry.lock
  pyproject.toml
Due: flake8, poetry

feat: register services in app
  app/main.py
  app/services.py
  app/settings.py
  dev.py
Due: flake8

feat: add user registration and base cookie auth
  app/auth.py
  app/controllers/home.py
  app/controllers/register.py
  app/views/register/index.jinja
Due: flake8

feat: add user login
  app/controllers/login.py
  app/views/login/index.jinja
  data/sql/users.py
  domain/users.py
Due: flake8

feat: add authorization
  .pre-commit-config.yaml
  app/auth.py
  app/controllers/login.py
  app/controllers/register.py
  app/errors.py
  app/main.py
  domain/common.py
Due: flake8

feat: add user to home page
  app/controllers/home.py
  app/views/partial/header.jinja
  domain/users.py
Due: flake8

chore: remove example page
  app/controllers/home.py
  app/views/home/example.jinja
Due: flake8

chore: change favicon
  app/static/favicon.ico
Due: none
