Repository vladpi/scrooge: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, poetry

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        additional_dependencies: [poetry, toml]
        types: [python]

  - repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
      - id: mypy
        args: ["--sqlite-cache"]
        additional_dependencies: [pydantic>=2.4, sqlalchemy>=2.0]

  - repo: local
    hooks:
      - id: poetry
        name: poetry check
        entry: poetry check
        pass_filenames: false
        language: system
        files: ^pyproject\.toml$

default_language_version:
  python: python3.10

restart project from scratch and litestar
  .gitignore
  README.md
  app/__init__.py
  app/app.py
  app/consts.py
  app/db.py
  app/models.py
  app/routes/__init__.py
  app/routes/transactions.py
  app/tinkoff_csv.py
  app/utils.py
  pyproject.toml
  templates/footer.html
  templates/header.html
  templates/index.html
  templates/layout.html
  templates/transactions/index.html
  templates/transactions/partial/unsorted_transactions.html
  uv.lock
Due: flake8, poetry

feat(transactions): reorg transactions page for sorted/unsorted tabs
  app/routes/__init__.py
  app/routes/transactions.py
  app/utils.py
  templates/transactions/index.html
  templates/transactions/partial/sorted_transactions.html
Due: flake8

feat(transactions): add count for unsorted transactions
  app/routes/transactions.py
  templates/transactions/index.html
Due: flake8

chore: fix readme.md format
  README.md
Due: none

Update README.md
  README.md
Due: none
